<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'about', pagina: 'home'}); %>
    
    
    <main>
        <div class="jumbotron ">
        <h1 class="display-4">Sobre mim</h1>
        <p class="lead">Oi! Sou Ricardo Borges estudante de programação!</p>
        </div>
    </main>



    <%- include('../partials/footer'); %>

    
</body>
</html>