<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

 <body class="container">

    <%- include('../partials/header'); %>  

    <main>
        <div class="jumbotron">
            <div class="container">
              <h1 class="display-4">Construindo um site do zero com EJS</h1>
              <p class="lead">Praticando e avançando, focus buddy!</p>
            </div>
          </div>
       </main>

       <%- include('../partials/footer'); %>
       
  </body>

</html>