<header>    
    <nav class="navbar navbarexpand-lg navbarlight bg-light">
        <a class="navbar-brand" href="/">Javatypescript</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item" ><a class="nav-link" href="/about">About</a></li>
        </ul> 
        
        <p><%= typeof pagina != 'undefined':?  pagina: 'home' %></p>
        
    </nav>
</header>