* {
    box-sizing: border-box;
}


.container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.item:nth-child(1) {
    order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}