* {
    box-sizing: border-box;
}


.container {
    display: flex;
    flex: 1 0 40px; /* shorthand sequencia: grow shrink basis */
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
}

.item:nth-child(1) {
    order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-shrink: 1;
    
}

.item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}